<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><?= $title ?></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="<?= URL ?>public/css/style.css">
	<link rel="icon" type="image/x-icon" href="<?= URL ?>public/picture/favicon.png" />
</head>
<body>

<header>

	<h2><?=$title?></h2><br>

	<a href="<?= URL ?>add-page/">Создать новую страницу</a> |
	<a href="<?= URL ?>page-list/">Список страниц</a> |
	<a href="<?= URL ?>">Главная</a>

	<br>

</header>