<?php include( TEMPLATE.'/header.html' ); ?>

<div class="content">

    <h3>Вход в Админ-Панель</h3><br>

    <form action="" method="post">

            <label>Логин:</label>
            <input type="text" class="form-control" name="login"><br>

            <label>Пароль:</label>
            <input type="password" class="form-control" name="pass"><br>

            <input type="submit" class="btn btn-primary btn-lg" value="Войти"><br><br>

    </form>
    <br>


</div>

<?php include( TEMPLATE.'/footer.html' ); ?>